@font-face {
  font-family: 'Glyphicons Halflings';
 
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
@font-face {
	font-family: "FontAwesome";
	src: url("../fonts/FontAwesome.eot");
	src: url("../fonts/FontAwesome.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/FontAwesome.woff") format("woff"),
			 url("../fonts/FontAwesome.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			 url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/*@font-face {
    font-family: "ProximaNovaBold";
    src: url("fonts/ProximaNovaBold.otf");
}
*/
