
/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1300px) { 
	
}
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.sub_menu {
	    margin-left: -0;
	}
	h1, .h1 {
		font-size: 32px;
		margin: 0;
	}
	.carousel-caption p {
	    font-size: 14px;
	}
	.carousel-indicators {
	    bottom: -5px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	section.nav_panel {
	    margin-top: 50px;
	}
	.navbar-brand {
		display: none;
	}
	.form-inline .form-control {
	    width: 100%;
	}
	.carousel-caption {
	    top: 10px;
	}
	.carousel-indicators {
	    bottom: -30px;
	}
	.socia_menu {
		margin-bottom: 10px;
	}
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	
	section.nav_panel {
	    margin-top: 20px;
	}
	.h1 {
	    font-size: 26px;
	}
	.carousel-caption {
		left: 15%;
	}

}

@media only screen and (max-width : 447px) {
	
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}