.nav_panel {
    margin-top: 100px;
}
ul.social_box {
    padding: 0;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid #c5cdd1;
    border-right: 1px solid #c5cdd1;
}
ul.social_box li {
    list-style-type: none;
    display: inline-block;
    margin: 23px  7px 17px 7px;
}


ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}

.info_box {
    background-color: #c5cdd1;
    border-bottom: 2px solid #c5cdd1;
    padding: 20px  15px;
    padding-left: 60px;
    position: relative;
}
.info_item {
    padding: 13px 0 10px;
    padding-right: 40px;
}
.info_item:first-child:before {
    content: "\f095";
    font-family: FontAwesome;
    font-size: 26px;
    color: #fff;
    position: absolute;
    top: 13%;
    left: 25px;
}
.info_item:nth-child(2):before {
    content: "\f041";
    font-family: FontAwesome;
    font-size: 26px;
    color: #fff;
    position: absolute;
    top: 39%;
    left: 25px;
}
.info_item:nth-child(3):before {
    content: "\f0e0";
    font-family: FontAwesome;
    font-size: 26px;
    color: #fff;
    position: absolute;
    top: 70%;
    left: 21px;
}

.sub_menu {
    background-color: #152840;
    margin-left: -29px;
    padding: 12px 25px 4px;
    position: relative;
    border-bottom: 1px solid #49647e;
}
.sub_menu:last-child {
    border-bottom: none;
}
.sub_menu_inverse {
    background-color: #263a54;
}
.sub_menu > .list-unstyled > li > a{
    font-size: 15px;
    font-family: "RobotoRegular", sans-serif;
    color: #fff;
    line-height: 2.3;
}
.sub_menu > .list-unstyled > li:first-child a {
    color: rgb( 86, 204, 200 );
}
.sub_menu > .list-unstyled > li:first-child:before {
    content: url("../img/arrow.png");
    position: absolute;
    right: 18px;
    top: 20px;
}
.socia_menu {
    background-color: #fff;
    padding: 16px 10px 16px 35px;
}
.socia_menu a {
    color: rgb( 71, 80, 85 );
    font-family: "RobotoRegular", sans-serif;
    line-height: 1.752;
    font-size: 16px;
}
.socia_menu a:hover {
    color: #56ccc8;
    font-family: "RobotoRegular", sans-serif;
    line-height: 1.752;
    font-size: 16px;
}

.sign_in, .join {
    background-color: #fff;
    padding: 10px 40px;
    font-family: "RobotoRegular", sans-serif;
    color: rgb( 71, 80, 85 );
}
.join {
    padding-bottom: 30px;
    margin-top: 10px;
}
.fb_wd {
    background-color: #4d6baa;
}
.tw_wd {
    background-color: #4fc6f8;
}
.fb_wd, .tw_wd {
    display: block;
    font-family: "RobotoRegular", sans-serif;
    font-size: 16px;
    color:#fff;
    padding: 20px 10px 10px 20px;
    margin-bottom: 10px;
}

.users_count, .follow {
    display: inline-block;
    margin-top: 40px;
}
.follow {
    padding-right: 5px;
}
.fb_wd  a, .tw_wd  a {
    color: #fff;
}
.fb_wd  a .fa:hover, .tw_wd  a .fa:hover {
    color: #152840;
}

section.slider_bottom {
    margin-bottom: 35px;
    margin-top: -20px;
}